DataFrame: is a main object in Pandas. It is used to represent data with rows and columns.

In [2]:

import pandas as pd

# Create dataframe from the given table
data = {
    "day": ["1/1/2017", "1/2/2017", "1/3/2017", "1/4/2017", "1/5/2017", "1/6/2017"],
    "temperature": [32, 35, 28, 24, 32, 32],
    "windspeed": [6, 7, 2, 7, 4, 2],
    "event": ["Rain", "Sunny", "Snow", "Snow", "Rain", "Sunny"]
}

df = pd.DataFrame(data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [7]:
rows,columns = df.shape
print(f"Number of rows: {rows}")
print(f"Number of rows: {columns}")

Number of rows: 6
Number of rows: 4

In [8]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [ ]:
df.iloc[2:5,]  #Print row 2 to 4

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [13]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [15]:
df["day"]

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [16]:
type(df["event"])

pandas.core.series.Series

In [17]:
df[["event","day"]]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [19]:
df["temperature"].max()

35

In [21]:
df["temperature"].std()

3.8858718455450894

In [22]:
df["temperature"].describe()

count     6.000000
mean     30.500000
std       3.885872
min      24.000000
25%      29.000000
50%      32.000000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [23]:
df[df.temperature>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [26]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [29]:
df.nlargest(1,"temperature")

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [32]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [35]:
df.set_index('day',inplace=True)

In [36]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           32          2  Sunny

In [39]:
df.loc[["1/1/2017",]]

          temperature  windspeed event
day
1/1/2017           32          6  Rain

In [44]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [46]:
df.set_index("event",inplace=True)

In [48]:
df.loc["Snow"]

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7